<!-- rviz Launch file -->
<launch>
  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" />

  <!-- Stereo image processing -->
  <node ns="sdc/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
    <param name="disparity_range" type="int" value="128"/>
    <param name="approximate_sync" type="bool" value="false"/>
  </node>

</launch>
